.job-container {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
}
.profile-job-details-container {
  margin-left: 40px;
  margin-top: 40px;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;

  height: 30%;
  margin-left: 20px;
  border-radius: 10px;
}
.profile-container-retry-data {
  height: 30%;

  border-radius: 10px;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.profile-pic {
  margin-top: 25px;
}
.person-name {
  font-family: 'Roboto';
  font-size: 20px;
  color: #6366f1;
}
.person-job-description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .search-for-sm-devises {
    display: none;
  }
  .job-container {
    display: flex;
    flex-direction: row;
  }

  .profile-container {
    height: 100%;
  }
  .line {
    width: 80%;
    color: #b6c5ff;
    align-self: flex-start;
    margin-top: 10px;

    align-self: flex-start;
  }

  .line-container {
    width: 24%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }
  .search-for-lg-devises-container {
    height: 40px;
    width: 30%;
    background-color: transparent;
    border: 1px solid #cbd5e1;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .search-for-sm-devises {
    height: 20px;
    width: 70%;

    background-color: transparent;
    outline: none;
    border-width: 0px;
  }
  .search-icon {
    color: #cbd5e1;
    font-size: 30px;
    width: 100%;
    height: 100%;
    align-self: flex-end;
    background-color: #475569;
  }
  .search-for-sm-devises-container {
    display: none;
  }

  .profile-top-container {
    width: 30%;
  }
}
.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  height: 100%;
}

.search-for-lg-devises {
  background-color: transparent;
  outline: none;
  border-width: 0px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .search-for-sm-devises {
    height: 20px;
    width: 70%;

    background-color: transparent;
    outline: none;
    border-width: 0px;
  }

  .search-for-sm-devises-container {
    height: 40px;
    width: 90%;
    background-color: transparent;
    border: 1px solid #cbd5e1;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .search-icon {
    color: #cbd5e1;
    font-size: 30px;
    width: 40px;
    height: 38px;
    align-self: flex-end;
    background-color: #475569;
  }

  .line-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .line {
    width: 100%;
    color: #b6c5ff;
    align-self: flex-start;
    margin-top: 10px;
  }
  .search-for-lg-devises-container {
    display: none;
  }
  .profile-container {
    width: 80%;
    height: 30%;
  }
  .profile-job-details-container {
    width: 79%;
  }

  .search-icon {
    margin-left: 150px;
  }
  .profile-top-container {
    width: 100%;
  }
}

.search-btn {
  background-color: transparent;
  border-width: 0px;
  height: 10px;
  height: 10px;
  width: 20%;
}

.search {
  width: 80%;
}

.search-for-sm-devises {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
}
.search-for-lg-devises {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.failure-img {
  height: 300px;
  width: 300px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100vh;
}
.job-details-bg {
  width: 100%;
  margin-left: 20px;
}
.types-of-employment {
  font-family: 'Roboto';
  font-size: 17px;
  color: #ffffff;
  margin-left: 30px;
}
.checkbox-li {
  margin-top: 10px;
  width: 100%;
}
.checkbox-ul {
  margin-left: 0px;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .job-details-bg {
    width: 100%;
  }
  .line {
    width: 100%;
    color: #b6c5ff;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 30px;
  }

  .line-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .line {
    width: 80%;
    color: #b6c5ff;

    margin-top: 10px;
  }

  .line-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.search-btn {
  background-color: transparent;
  border-width: 0px;
}

.bottom-container {
  width: 100%;
}
.retry-btn {
  background-color: #6366f1;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  border: none;
}
.retry-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}
.retry-para {
  font-size: 14px;
}
