.nav-bar {
  background-color: #272727;
  width: 100%;
  display: flex;

  align-items: center;
}
.nav-content-lg {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 25px;
}

.logout-btn {
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color: #4f46e5;
  border-width: 0px;
  margin-right: 25px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
}
.website-logo {
  width: 110px;
  margin-bottom: 10px;
  height: 50px;
}
.website-logo-mobile {
  width: 110px;
}
.home-jobs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.home {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 400;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .display-lg {
    display: none;
  }
  .nav-content-lg {
    display: none;
  }
  .website-logo {
    margin-left: 25px;
    width: 90px;
    height: 40px;
    margin-bottom: 10px;
  }
  .home-icon {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  .mobile-content {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-mobile-btn {
    border: none;
    padding: 0px;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: #ffffff;
  }
}

.display-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .display-mobile {
    display: none;
  }
  .display-lg {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.nav-link {
  text-decoration: none;
}
.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
